@inject Microsoft.AspNetCore.Identity.SignInManager<AppointmentScheduling.Models.ApplicationUser> signInManager
@if (signInManager.IsSignedIn(User))
{
    <form id="logoutForm" asp-action="Logoff" asp-controller="Account">
        <ul class="nav navbar-nav">
            <li class="text-black-50 nav-link">Hei, @User.Identity.Name! </li>
        </ul>
    </form>
}